
body {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

.jumbotron {
 	background-color: #428bca;
 	color: white;
 }

 .panel-heading span {
	margin-top: -20px;
	font-size: 15px;
 }

 .clickable {
 	cursor: pointer;
 }

 .remove {
 	cursor: pointer;
 	opacity: 0.5;
 	color: grey;
 }

 .remove:hover {
 	opacity: 1;
 }

 #current-time {
 	color: #f1c40f;
 }